<div class="card-deck">
    <a href="/orders/request"><div class="card">
        <div class="card-header">
            Order Request
        </div>
        <div class="card-body">
            Place a request for an order either online or in person
        </div>
        <div class="card-footer">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, quae corrupti provident labore dolore
            dolorum laborum iste. Praesentium cum vero tempora illo ipsum aperiam atque, qui itaque culpa, ea dolore!
        </div>
    </div></a>
    <a href="/orders/reimbursement"><div class="card">
        <div class="card-header">
            Reimbursement
        </div>
        <div class="card-body">
            Submit a reimbursement request for an already placed order
        </div>
        <div class="card-footer">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, quae corrupti provident labore dolore
            dolorum laborum iste. Praesentium cum vero tempora illo ipsum aperiam atque, qui itaque culpa, ea dolore!
        </div>
    </div>
</div></a>