{{#if messages.errors}}
  <div class="alert error">
    <input type="checkbox" />
    <label class="close" title="close">
      <i class="icon-remove"></i>
    </label>
    <p class="inner">
    {{#messages.errors}}
      {{{msg}}}
    {{/messages.errors}}
  </p>
  </div>
{{/if}}
{{#if messages.info}}
  <div class="alert info">
    <input type="checkbox" />
    <label class="close" title="close">
      <i class="icon-remove"></i>
    </label>
    <p class="inner">
    {{#messages.info}}
      {{{msg}}}
    {{/messages.info}}
  </p>
  </div>
{{/if}}
{{#if messages.success}}
  <div class="alert success">
    <input type="checkbox" />
    <label class="close" title="close">
      <i class="icon-remove"></i>
    </label>
    <p class="inner">
    {{#messages.success}}
      {{{msg}}}
    {{/messages.success}}
  </p>
  </div>
{{/if}}
{{#if messages.warning}}
  <div class="alert warning">
    <input type="checkbox" />
    <label class="close" title="close">
      <i class="icon-remove"></i>
    </label>
    <p class="inner">
    {{#messages.warning}}
      {{{msg}}}
    {{/messages.warning}}
  </p>
  </div>
{{/if}}
