    <option value="Analysis">Analysis</option>
        <option value="Battery">Battery</option>
        <option value="Braking">Braking</option>
        <option value="Controls">Controls</option>
        <option value="Electrical Reliablilty">Electrical Reliability</option>
        <option value="Electrical Hardware">Electrical Hardware</option>
        <option value="Executitive">Executitive</option>
        <option value="Operations">Operations</option>
        <option value="Powertrain">Powertrain</option>
        <option value="Propulsion">Propulsion</option>
        <option value="Software">Software</option>
        <option value="Stability">Stability</option>
        <option value="Structural">Structural</option>
        <option value="Workshop">Tools &amp; Workshop</option>
