<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Badgerloop - Make Purchase</title>
<link href="main.css" rel="stylesheet" type="text/css">
<link rel="icon" href="/favicon.ico">
</head>

<body>
  <h1>Badgerloop Bill of Materials and Finance Information System</h1>
    {{{body}}}
</body>
</html>
