{{#unless user}}
<a href="/slack/auth"><button class='btn'>Click here to login with Slack!</button></a>
{{/unless}}
{{#if user}}
<h2>Welcome {{user.name}}</h2>
{{#if user.isFSC}}
<h3>Finance/Supply Chain Member</h3>
{{/if}}
{{#if user.isAdmin}}
<h3>Executitive Team Member</h3>
{{/if}}
{{#if user.isTeamLead}}
<h3>Team Lead</h3>
{{/if}}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">attach_money</i>
          </div>
          <h3 class="card-title">Purchase Request</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="/orders/purchase">Visit BOM</a>
          </div>
        </div>
      </div>
    </div>
    {{#if user.isAdmin}}
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">edit</i>
          </div>
          <h3 class="card-title">CRUD Actions</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="/crud" class="btn btn-lg btn-success">Edit Website</a>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon">
            <i class="material-icons">menu_book</i>
          </div>
          <h3 class="card-title">Wiki</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="http://wiki.badgerloop.com" class="btn btn-lg btn-success">Visit the Wiki</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">computer</i>
          </div>
          <h3 class="card-title">Website</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="http://badgerloop.com" class="btn btn-lg btn-success">Visit Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fa fa-slack"></i>
        </div>
        <h3 class="card-title">Slack</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a href="http://badgerloop.slack.com" class="btn btn-lg btn-success">Join Slack</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{{/if}} 
{{!-- Keep this if statment at the bottom --}}
