{{#unless user}}
<a href="/slack/auth"><button class='btn'>Click here to login with Slack!</button></a>
{{/unless}}
{{#if user}}
<h2>Welcome {{user.name}}</h2>
{{#if user.isFSC}}
<h3>Finance/Supply Chain Member</h3>
{{/if}}
{{#if user.isAdmin}}
<h3>Executitive Team Member</h3>
{{/if}}
{{#if user.isTeamLead}}
<h3>Team Lead</h3>
{{/if}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Purchase Request</h4>
          <i class="material-icons">attach_money</i>
        </div>
        <div class="card-body">
          <a href="/orders/purchase" class="btn btn-lg btn-success">Visit BOM</a>
        </div>
      </div>
    </div>
{{#if user.isAdmin}}
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">CRUD Pages</h4>
          <i class="material-icons">edit</i>
        </div>
        <div class="card-body">
          <a href="/crud" class="btn btn-lg btn-success">Edit Website</a>
        </div>
      </div>
    </div>
{{/if}}
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Wiki</h4>
          <i class="material-icons">menu_book</i>
        </div>
        <div class="card-body">
          <a href="http://wiki.badgerloop.com" class="btn btn-lg btn-success">Visit the Wiki</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Website</h4>
          <i class="material-icons">computer</i>
        </div>
        <div class="card-body">
          <a href="http://badgerloop.com" class="btn btn-lg btn-success">Visit Website</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Slack</h4>
          <i class="material-icons">chat</i>
        </div>
        <div class="card-body">
          <a href="http://badgerloop.slack.com" class="btn btn-lg btn-success">Join Slack</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}} 
{{!-- Keep this if statment at the bottom --}}
