<h1>Make Purchase</h1>
<form id="orderForm" action="/orders/purchase" method="POST">
    <div class="form-group col-sm-2">
      <label>Requestor</label>
      <input class="form-control" name="requestor" type="text" value="{{user.name}}" readonly>
    </div>
    <div class="form-group col-sm-2">
      <div class="input-group mb-3">
        <select class="form-control custom-select" name="subteam" id="subteamDropdown">
          {{!-- {{> teamsDropdown}} --}}
        </select>
      </div>
    </div>
    <div class="form-group col-auto">
      <label>Project</label>
      <input class="form-control" type="text" name="project">
    </div>

    <div class='form-group col-auto'>
      <label>Item</label>
      <input class="form-control" name="item" type="text" required>
    </div>
    <div class="form-group col-auto">
      <label>Supplier</label>
      <input class="form-control" name="supplier" type="text" required>
    </div>
    <div class="form-group col-auto">
      <label>Product Number</label>
      <input class="form-control" name="productNum">
    </div>

    <div class="form-group col-auto">
      <label>Estimated Quantity</label>
      <input class="form-control" name="quantity" type="number" required>
    </div>
    <div class="form-group col-auto">
      <label>Estimated <b>Individual</b> Cost</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input class="form-control" name="cost" type="number" step=".01" min="0" required>
      </div>
    </div>
    <div class="form-group col-auto">
      <div class="form-check">
      <input type="checkbox" name="podCost">
      <label for="podCost">Counts toward pod cost?</label>
      </div>
    </div>

    <div class="form-group col-auto">
      <label for="link">Link to Purchase</label>
      <input class="form-control" type="text" name="link" id="link">
    </div>
    <div class="form-group col=auto"> 
      <label for="date">Needed By:</label>
      <input class="form-control" type="date" name="date" id="date">
    </div>

    <label for="comments">Comments:</label>
    <input class="form-control" type="text" name="comments" rows="3" style="border: 2px red" id="comments">

    <div class="wrapper">
      <div class="form">
        <form id="orderForm" action="">
          <p>
            <label for="">Requester</label>
            <input type="text">
          </p>
          <p>
            <label for="">Category</label>
            <select>
            </select>
          </p>
          <p>
            <label for="">Project</label>
            <input type="text">
          </p>
          <p>
            <label for="">Item</label>
            <input type="text">
          </p>
          <p>
            <label for="">Supplier</label>
            <input type="text">
          </p>
          <p>
            <label for="">Product Number</label>
            <input type="text">
          </p>
          <p>
            <label for="">Estimated Quantity</label>
            <input type="text">
          </p>
          <p>
            <label for="">Estimated Individual Cost</label>
            <input type="text">
          </p>
          <p>
            <label for="podCost">Counts toward pod cost?</label>
            <input type="checkbox" name="podCost">
    
          </p>
          <p>
            <label for="">Link to Purchase</label>
            <input type="text">
          </p>
          <p>
            <label for="">Needed By</label>
            <input class="form-control" type="date" name="date" id="date">
          </p>
          <p>
            <label for="">Comments</label>
            <input type="text">
          </p>
        </form>
      </div>
    </div>

    <div class="form-check ">
      <input type="checkbox" name="notARequest" id="notArequestCheck">
      <label for="notARequestCheck" class="form-check-label">I will/did purchase this myself (Make sure you get written or verbal approval)</label>
    </div>

    <div class="form-check">
      <input type="checkbox" name="confirm" required>
      <label class="form-check-label">I have double checked that I need this item and all information is correct (required)</label>
    </div>
  </div>
  <br>
  <button class="btn btn-lg btn-success" type="submit">Submit Order</button>
</form>
<script>
  const DROPDOWN = document.getElementById('subteamDropdown');
  const TEAMS_LIST_STRING = "{{teamList}}";
  const TEAMS_LIST = TEAMS_LIST_STRING.split(',');
  TEAMS_LIST.forEach((team) => {
    let option = document.createElement('option');
    option.id = String(team);
    option.name = String(team);
    option.innerHTML = String(team);
    DROPDOWN.appendChild(option);
  });
</script>
