.order-footer {
  border: 3px solid #282728;
  width: 50%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.order-card {
  min-height: 700px;
  min-width: 365px;
}
#orderForm {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-column-gap: 50px;
}
#orderForm label {
  width: 100%;
}

#home-right {
  float: left;
  width: 25%;
  padding: 10px;
  height: 100vh;
}
#home-left {
  float: left;
  width: 72%;
  padding: 10px;
}