.order-footer {
  border: 3px solid #282728;
  width: 50%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.order-card {
  min-height: 700px;
  min-width: 365px;
}
#orderForm {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-column-gap: 50px;
}
#orderForm label {
  width: 100%;
}

#home-grid {
    display: grid;
    grid-gap: 10px;
		grid-template-columns:  74% 24%;
	}
#home-left {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 24% 24% 24%;
}
#home-right {
  grid-column: 3 ;
  grid-row: 1 / 10;
}