{{#unless user}}
<a href="/slack/auth"><button class='btn'>Click here to login with Slack!</button></a>
{{/unless}}
{{#if user}}
<h2>Welcome {{user.name}}</h2>
<h3>FSC {{user.isFSC}}  | Admin {{user.isAdmin}}</h3>
{{/if}}
